body{
    background-color: rgba(50, 185, 202, 0.11);
}
.waves-effect.waves-blue .waves-ripple {
    background-color: #1D4A81
}
.coolcastlist{
    background-color: #54AEA4 !important;
    border-radius: 8px;
    border-style: hidden;
    padding: 4px;
    margin: 31px;
    box-shadow: 2px 3px 5px grey;
}
.bottom-navbar {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.mainaddbtn{
    margin: 9px;
}
.productcontainer{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.coolcastgreen{
    background-color: #54AEA4 !important;
}
.coolcastblue{
    background-color: #1D4A81
}
.coolcastdarkblue{
    background-color: #122A46;
}